.carousel div:nth-child(1){background:url('../../assets/images/banner01.jpg') no-repeat; background-size: 100% 220px;}
.carousel div:nth-child(2){background:url('../../assets/images/banner02.jpg') no-repeat; background-size: 100% 220px;}
.carousel div:nth-child(3){background:url('../../assets/images/banner03.jpg') no-repeat; background-size: 100% 220px;}
.carousel div:nth-child(4){background:url('../../assets/images/banner04.jpg') no-repeat; background-size: 100% 220px;}
.carousel div{width: 100%; height: 220px;}
.carousel{width: 100%; height: 220px;}
